.caixa{
    background: #912a7eaa;
}

.titulo{
    color: white !important; 
    font-weight:bold !important;
}


.botao{
    border-color: white !important;
    background-color: #912a7eaa;
    color: white !important;
}

.postagens{
    background-color: white;
}