.box1{
    background-color: #ad1ca6 !important;
    height: 100%;
}

.box2{
    background-color: #871581;
    height: 60px;
}

.rs{
    font-size: 40px !important;
    color: white;
}

.rs:hover{
    box-shadow: 0 0 4px 0;
    border-radius: 10px;

}

.textos{
   color: white;
}