.box1{
    background-color: #ad1ca6 !important;
    height: 90px;
}

.box2{
    background-color: #871581;
    height: 60px;
}

.rs{
    font-size: 40px !important;
    color: white;
}

.textos{
   color: white;
}